/* Import Files==================================================================== */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);
@import url(font-awesome.min.css);
@import url(main.css);
@import url(responsive.css);
@import url(anime.css);

/* Global============================================================================ */

*,html,body{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}


body{
    width: 100%;
}

header,section,footer{
    overflow: hidden;
    width: 100%;
}

section{
    padding: 4rem 0;
}

.container{
    width: 90%;
    margin:  0 auto;
}

img{
    position: absolute;
    width: 100%;
}

li{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #333333;
}

p{
    font-weight: 600;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    width: 100%;
    position: relative;
}

.btn{
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    background: #cccccc;
    color:#333333;
}

.title{
    width: 200px;
    padding: 10px;
    font-size: 20px 40PX;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 6px solid black;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
}